@charset "utf-8";

/*选项卡样式定义*/
.am-nav-tabs,.am-tabs-bd{border-color:transparent ;}
.am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:hover, .am-nav-tabs > li.am-active > a:focus,.am-nav-tabs > li > a:hover ,.am-nav-tabs > li > a:focus {
color: #555555;background:none;border-color:transparent;cursor: default;}
.am-nav-tabs > li{border-bottom:2px solid  transparent;}
.am-nav-tabs > li.am-active {border-bottom:2px solid #F03726;}
.am-tabs-nav li {max-width:216px;height:36px;font-size:16px;line-height:36px ;}
.am-tabs-nav li a,.am-tabs-nav li.am-active a{cursor: pointer;}

/*选项卡样式*/
.am-nav-tabs > li.am-active span{color: #E4393C;font-size:16px;}
.am-nav-tabs > li span{font-size:16px;font-weight:700;}



